@import "common/styles/global.scss";

.contribution {
  display: none;
  align-items: center;
  height: calc(100% - 46px);

  &.active {
    display: flex;
  }

  .empty {
    padding: 0 20px;
    text-align: center;

    i {
      color: $color-light;
      font-size: rem(60);
    }

    .title {
      font-size: rem(18);

      small {
        display: block;
        margin-top: 10px;
        color: $color-gray;
        font-size: rem(14);
        line-height: 170%;
      }
    }
  }

  .photo {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .contribution_box {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 10px;
    text-align: center;

    .title {
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.7);
      // border: 1px solid $border-color;
      font-size: rem(18);

      .form-control {
        height: auto;
        padding: 0;
        border: 0px none;
        background-color: transparent;
        text-align: center;

        &::placeholder {
          color: $color-gray;
        }
      }
    }

    .para {
      margin-bottom: 10px;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.7);
      // border: 1px solid $border-color;
      font-size: rem(16);

      .form-control {
        height: auto;
        padding: 0;
        border: 0px none;
        background-color: transparent;
        text-align: center;

        &::placeholder {
          color: $color-gray;
        }
      }

      .note {
        display: block;
        margin-top: 10px;
        color: $color-gray;
        font-size: rem(12);
      }
    }

    .middle {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 150px;

      .upload-file {
        width: 100%;
        height: 100%;

        input {
          width: 100%;
          height: 100%;
        }
      }

      .icon {
        color: $color-light;
        font-size: rem(100);
        line-height: 80%;
      }

      span {
        font-size: rem(14);
        color: $color-light;
      }
    }

    // Contribution Write Form
    &.added {
      .title {
        margin-bottom: 150px;
      }
      .middle {
        display: none;
      }
      .para {
        .form-control {
          height: 100px;
          font-size: rem(13);
        }
        .note {
          display: none;
        }
      }
    }

    // Contribution Preview Box
    &.preview {
      height: 100%;
      padding: 0;

      .para {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-bottom: 90px;
        margin: 0;
        font-size: rem(13);
      }

      .action {
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: space-around;

        .btn {
          width: 60px;
          height: 60px;
          font-size: rem(30);
          @include border-radius(100%);
          box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.4);

          &.btn-light {
            font-weight: $font-weight;
            border: 0 none;
            background: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}
