@import "common/styles/global.scss";

.page-loader {
  height: 100px;
  margin-top: 50px;
  text-align: center;

  span {
    display: inline-block;
    width: 15px;
    height: 15px;
    @include border-radius(100%);
    background-color: $color-primary;
    animation: bounce 1s infinite;
  }

  @keyframes bounce {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }
}
