@import "common/styles/global.scss";

.vote-respond {
  display: flex;
  align-items: center;

  i {
    margin-right: 5px;
    font-size: rem(16);
  }
  span {
    font-size: rem(12);
    font-weight: $font-weight-bold;
  }
  &.active {
    span {
      color: $color-primary;
    }
  }
}
