@import "common/styles/global.scss";

.minister {
  margin-top: 10px;

  &__top {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;

    .photo {
      width: 70px;
      height: 70px;
      margin: 0;
      margin-right: 10px;
      border: 1px solid $border-color;
      @include border-radius(100%);
      overflow: hidden;

      figure {
        height: 100%;

        img {
          height: 100%;
        }

        i {
          color: $color-lighter;
          font-size: rem(68.5);
        }
      }
    }

    .details {
      padding-top: 5px;

      h1 {
        margin-bottom: 0;
        font-size: rem(20);
        font-weight: $font-weight-bold;
      }

      .type {
        text-transform: capitalize;

        span {
          color: $color-gray-light;
          font-size: rem(12);
        }
      }
    }
  }

  &__pointer {
    ul,
    li {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    ul {
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        padding: 10px 0;
        font-size: rem(14);
        text-align: left;

        &:last-child {
          padding-bottom: 0;
        }

        i {
          margin-right: 10px;
        }

        label {
          margin: 0;
          margin-top: 1px;

          span {
            display: block;
            color: $color-gray;
            font-size: rem(13);
            font-weight: $font-weight-light;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .minister {
    margin-top: 50px;

    &__top {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 10px;

      .photo {
        width: 150px;
        height: 150px;
        margin: 0;
        margin-right: 40px;

        figure {
          i {
            font-size: rem(149);
          }
        }
      }

      .details {
        text-align: left;

        h1 {
          font-size: rem(40);
          font-weight: $font-weight-light;
        }

        .action {
          justify-content: left;
          margin-bottom: 40px;
        }
      }
    }

    &__pointer {
      ul {
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: space-between;

        li {
          min-width: 30%;
          font-size: rem(14);

          label {
            margin: 0;

            span {
              color: $color-gray-light;
              font-size: rem(11);
              font-weight: $font-weight-bold;
            }
          }

          i {
            padding-top: 2px;
          }
        }
      }
    }

    @include Panel();
  }
}
