@import "common/styles/global.scss";

// Minister Page
.minister {
  margin-top: 10px;

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;

    .photo {
      width: 150px;
      height: 150px;
      margin: auto;
      border: 1px solid $border-color;
      @include border-radius(100%);
      overflow: hidden;

      figure {
        height: 100%;

        img {
          height: 100%;
        }

        i {
          color: $color-lighter;
          font-size: rem(68.5);
        }
      }
    }

    .details {
      padding-top: 5px;
      text-align: center;

      h1 {
        margin-bottom: 0;
        font-size: rem(20);
        font-weight: $font-weight-bold;
      }

      .type {
        margin-bottom: 10px;
        text-transform: uppercase;

        span {
          color: $color-gray-light;
          font-size: rem(12);
          text-transform: capitalize;
        }
      }

      .action {
        .btn {
          font-size: rem(14);
        }
      }
    }
  }

  &__pointer {
    ul,
    li {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    ul {
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        padding: 10px 0;
        font-size: rem(14);
        text-align: left;

        &:last-child {
          padding-bottom: 0;
        }

        i {
          margin-right: 10px;
        }

        label {
          margin: 0;
          margin-top: 1px;

          span {
            display: block;
            color: $color-gray;
            font-size: rem(13);
            font-weight: $font-weight-light;
          }
        }
      }
    }
  }

  &__disclaimer {
    margin-top: rem(20);
  }
}

// Neta Page
.neta {
  margin-top: 15px;
  padding: 0 10px;

  &__item {
    position: relative;
    min-width: 300px;
    max-width: 350px;
    min-height: 400px;
    margin: auto;
    margin-bottom: 10px;
    @include border-radius(20px);
    box-shadow: 3.5px 3.5px 10px 0 rgba(0, 0, 0, 0.3);
    // background-color: $base-color;
    background-image: linear-gradient(to top, $base-color, #ffffff);
    overflow: hidden;

    > .image {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: start;
      width: 100%;
      height: 100%;
      margin: 0;

      > img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
      }
    }

    .desc {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 100%;
      margin-bottom: -285px;
      min-height: 285px;
      padding: 10px;
      background-color: #fff;
      opacity: 0;
      transition: all 0.3s ease;

      &.show {
        margin-bottom: 0;
        opacity: 1;
      }
      &.hide {
        margin-bottom: -285px;
        opacity: 0;
      }

      > .hide {
        float: right;
        color: $color-gray-light;
        cursor: pointer;
      }
      > .details {
        .heading {
          margin: 0;
          margin-bottom: 20px;
          padding: 0;
          color: $color-primary;
          font-size: rem(18);
          font-weight: $font-weight-black;

          small {
            color: $base-color;
          }
        }

        .list {
          height: 200px;
          margin: 0;
          padding: 0;
          list-style-type: none;
          overflow: auto;

          li {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 15px;

            &:last-child {
              margin: 0;
            }

            i {
              margin-right: 10px;
            }

            label {
              font-weight: $font-weight-bold;
              line-height: 120%;

              small {
                color: $color-gray;
                font-size: rem(14);
              }
            }

            .disclaimer {
              font-size: rem(9);
              p {
                margin: 0;
              }
            }
          }
        }
      }
    }

    > .bot {
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 10px 15px 10px;
      color: $color-white;
      background: rgba(0, 0, 0, 0.6);

      .info {
        float: right;
        font-size: rem(24);
        cursor: pointer;
      }

      .detail {
        > p {
          margin-bottom: 30px;
          font-size: rem(18);
          font-weight: $font-weight-black;
          text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 1);
          line-height: 100%;
        }

        > .feature {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
          }
        }
      }
    }
  }

  &__action {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    margin: auto;
    margin-bottom: 10px;

    .btn {
      min-width: 90px;
      font-size: rem(16);
      font-weight: $font-weight-bold;
      text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  &__bot {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -40px;
    width: 100%;

    .action {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding-right: 10px;
      text-align: right;

      > label {
        margin: 0;
        color: $color-gray-light;
        line-height: 100%;

        small {
          font-weight: $font-weight-black;
        }
      }

      .add {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        padding-top: 8px;
        @include border-radius(100%);
        box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        text-align: center;

        svg {
          // background-image: linear-gradient(to top, #000088, #8e2de2);
          font-size: rem(50);
          line-height: 0;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .neta {
    &__item {
      min-height: 480px;
    }
  }

  .minister {
    margin-top: 50px;

    &__top {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 10px;

      .photo {
        width: 150px;
        height: 150px;
        margin: 0;
        margin-right: 40px;

        figure {
          i {
            font-size: rem(149);
          }
        }
      }

      .details {
        text-align: left;

        h1 {
          font-size: rem(40);
          font-weight: $font-weight-light;
        }

        .action {
          justify-content: left;
          margin-bottom: 40px;
        }
      }
    }

    &__pointer {
      ul {
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: space-between;

        li {
          min-width: 30%;
          font-size: rem(14);

          label {
            margin: 0;

            span {
              color: $color-gray-light;
              font-size: rem(11);
              font-weight: $font-weight-bold;
            }
          }

          i {
            padding-top: 2px;
          }
        }
      }
    }

    @include Panel();
  }
}
