@import "common/styles/global";

.bottomNav[role="main"] {
  position: fixed;
  z-index: $bottomNav;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 10px;
  background: #fff;
  border-top: 1px solid $border-color;
  box-shadow: 0px -3px 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  ul.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    li {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0 3px;
        text-decoration: none;

        > i {
          display: block;
          color: $color-light;
          font-size: rem(24);
        }

        > span {
          display: block;
          color: $color-gray-light;
          font-size: rem(10);
          text-transform: uppercase;
        }

        &.active {
          > i {
            color: $color-link;
          }
          > span {
            color: $color-link;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .bottomNav[role="main"] {
    display: none;
  }
}
