@import "common/styles/global.scss";

.global_notification {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 50px;
  width: 100%;
  padding: 10px;
  background-color: $color-danger;
  color: $color-white;
  font-size: rem(16);
  text-align: center;
}

@include media-breakpoint-up(md) {
  .global_notification {
    left: 50%;
    bottom: 0;
    width: 600px;
    margin-left: -300px;
    font-size: rem(18);
  }
}
