@import "common/styles/global";

.AccountHead {
  text-align: center;
  border-bottom: 1px solid rgb(229, 241, 255);

  figure {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    border-radius: 100px;
    overflow: hidden;
    border: solid 1px rgb(158, 170, 176);
    background-color: #fff;

    .edit {
      display: none;
      position: absolute;
      z-index: 1;
      top: 8px;
      right: 8px;
      width: 25px;
      height: 25px;
      border-radius: 2px;
      background-color: #fff;
      cursor: pointer;
      text-align: center;

      i {
        color: $color-primary;
        font-size: 15px;
      }
    }

    & > img,
    & > i {
      height: 100%;
      color: $color-light;
      font-size: rem(98);
    }

    &:hover,
    &.mobile {
      .edit {
        display: block;
      }
    }
  }

  h2.title {
    font-size: 24px;
  }

  p {
    color: rgb(77, 77, 77);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
}

@include media-breakpoint-up(lg) {
  .AccountHead {
    padding-top: 50px;

    figure {
      margin-bottom: 25px;
    }

    h2.title {
      font-size: 26px;
      font-weight: $font-weight;
    }

    p {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: $font-weight;
    }
  }
}
