@import "common/styles/global";

.account {
  padding: 10px 10px 0;

  h1.title {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 500;

    span {
      display: block;
      color: $color-gray;
      font-size: 16px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .account {
    h1.title {
      margin: 20px 0 25px;
      font-size: 20px;
      font-weight: $font-weight;

      span {
        display: inline;
        color: $base-color;
        font-size: 20px;
      }
    }
  }
}
