@import "common/styles/base/_breakpoints";
@import "components/Form/form";

.login {
  margin-top: 30px;

  @include form;

  .link-forgot {
    color: $color-primary;
    font-size: 12px;
    a {
      color: $color-primary;
    }
  }
}

@include media-breakpoint-up(md) {
  .login {
    margin-top: 50px;
  }
}
@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(ms) {
  .login {
    padding: 100px 0;
  }
}
