// Button
%btn {
  border-radius: 2px;
  // text-shadow: 1.4px 1.4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: none;
  font-family: $font-family;
  font-weight: $font-weight;

  &:focus,
  &:active {
    box-shadow: none !important;
  }
}

%btn-primary {
  @extend %btn;
  background-color: $color-primary;
  border-color: $color-primary;
  border-width: 0;
  box-shadow: none;

  &:hover {
    background-color: rgb(0, 91, 140);
  }

  &:active,
  &:not(:disabled):not(.disabled):active {
    background-color: rgb(0, 75, 115);
  }
}

%btn-secondary {
  @extend %btn;
  background-color: $color-secondary;
  border-color: $color-secondary;
  box-shadow: none;
}

%btn-success {
  @extend %btn;
  background-color: $color-secondary;
  border-color: $color-secondary;
  box-shadow: none;

  &:hover {
    background-color: rgb(0, 140, 0);
  }

  &:active,
  &:not(:disabled):not(.disabled):active {
    background-color: rgb(0, 115, 0);
  }
}

%btn-outline-primary {
  @extend %btn;
  color: $color-primary;
  border-color: $color-primary;
  background-color: $color-white;

  &:hover {
    color: $color-primary;
    background-color: rgb(229, 246, 255);
  }

  &:active,
  &:not(:disabled):not(.disabled):active {
    color: $color-white;
    background-color: $color-primary;
  }
}

%form-control {
  border: 1px solid #a8a5b3;
  border-radius: $border-radius;
  font-family: $font-family;
  font-size: $font-size;
  height: 50px;
  padding: ($gap - 2) ($gap + 2);
  width: 100%;

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: #9b9b9b;
    font-weight: $font-weight;
  }

  &.textarea {
    height: 120px;
  }

  &.form-control-sm {
    height: 35px;
  }
}

%input-group-padding {
  padding: ($gap - 2) ($gap + 2);
}

@mixin transition($property) {
  // -webkit-transition: $property;
  // /* Safari 4+ */
  // -moz-transition: $property;
  // /* Fx 5+ */
  // -o-transition: $property;
  /* Opera 12+ */
  transition: $property;
  /* IE 10+, Fx 29+ */
}

@mixin border-radius($value) {
  // -moz-border-radius: $value;
  // -webkit-border-radius: $value;
  // -o-border-radius: $value;
  border-radius: $value;
}