//Base Variable of Project
$gap: 10px;

$base-color: #000;
$color-light: rgb(164, 164, 164);
$color-link: #0073b0;
$color-invert: lighten($base-color, 100%);

// YumBag Color
$color-primary: #0073b0;
$color-secondary: rgb(0, 164, 0);
$color-gray: #4a4a4a;
$color-light: #cfd9e6;
$color-blue: #251e40;
$color-white: #fff;
$color-error: #c00;
$color-warning: #f80;
$color-success: rgb(0, 164, 0);
$color-info: #09c;

// Font Styling
$font-family: 'Lato',
Tahoma,
Geneva,
Verdana,
sans-serif;
$font-size: 16px;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
$border-radius: 4px;
$background-color: #fff;


// z-index Defination
$notification: 9999;
$loader: 100;
$modal: 90;
$header: 10;
$footer: 10;