@import "common/styles/global.scss";
@import "components/Form/form";

.opinion-box {
  padding-bottom: 10px;
  border-bottom: 1px solid $border-color;

  @include form;

  .box {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

    .form-group {
      width: 100%;
      margin: 0;

      .form-control {
        height: 100px;
      }
    }
  }

  .action {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    button {
      margin-left: 5px;
    }
  }
}
