@import "common/styles/global.scss";
@import "components/Form/form";

.opinion-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;

  .photo {
    display: none;
    margin-right: 10px;

    figure {
      width: 50px;
      height: 50px;
      margin: 0;
      border: 1px solid $border-color;
      @include border-radius(100%);
      overflow: hidden;

      img {
        height: 100%;
      }
    }
  }

  .form-group {
    width: 100%;
    margin: 0;
    border: 1px solid $color-lightest;
    @include border-radius(3px);

    .form-control {
      height: 48px;
      font-size: rem(13);
      border: 0 none;
      resize: none;
    }
  }

  .action {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    button {
      margin-left: 5px;
    }
  }
}

@include media-breakpoint-up(md) {
  .opinion-box {
    .photo {
      display: block;
    }
  }
}
