@import "common/styles/global";

.footer[role="main"] {
  position: fixed;
  z-index: $footer;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 10px 5px;
  border-top: 1px solid rgb(229, 241, 255);
  text-align: center;

  ul,
  li {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
  }

  ul.links {
    li {
      padding-right: 10px;

      a {
        color: $color-link;
        font-size: 10px;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .copyright {
    color: $color-gray;
    font-size: 10px;
    font-weight: 300;
  }
}

@include media-breakpoint-up(md) {
  .footer[role="main"] {
    // position: static;
    padding: 25px 10px 20px;
    font-size: 12px;
    text-align: left;

    ul.links {
      li {
        padding-right: 30px;

        a {
          font-size: 14px;
        }
      }
    }

    .copyright {
      font-size: 14px;
    }
  }
}
