@import "common/styles/global.scss";

@mixin form {
  .form {
    margin-bottom: 10px;

    .header {
      margin-bottom: 0;

      .heading {
        margin-bottom: 0;
        font-size: 30px;
      }

      .sub {
        font-size: 14px;
      }
    }

    .form-group {
      min-height: 82px;
      margin-bottom: 0;

      label {
        color: $color-gray;
        font-size: rem(12);
        font-weight: $font-weight-bold;
        margin-bottom: 0;

        span {
          color: $color-gray;
          font-weight: $font-weight-light;
        }
      }

      .form-control {
        height: 40px;
        font-size: rem(13);

        &.text-area {
          height: 65px;
        }
      }

      .form-text {
        margin-top: 0;
        font-size: 12px;
      }

      &.error {
        .form-control {
          border-color: red;
        }

        .form-text {
          color: red;
        }
      }
    }

    .form-note {
      color: rgb(128, 128, 128);
      font-size: 11px;
    }

    .form-action {
      .btn {
        width: 100%;
        text-shadow: 1.4px 1.4px 0 rgba(0, 0, 0, 0.2);
      }
    }

    %border-none {
      &::after,
      &::before {
        border: 0;
      }
    }

    .MuiFormControl-root,
    .MuiInputBase-root {
      width: 100%;
      margin-bottom: 20px;
      color: rgba(0, 0, 0, 0.54);

      @extend %border-none;

      .MuiFilledInput-input {
        padding-top: 19px;
      }

      .MuiInputLabel-formControl {
        transform: translate(12px, 18px) scale(1);
      }
      .MuiInputLabel-shrink {
        transform: translate(12px, 5px) scale(0.75);
      }

      // .MuiSelect-root {
      //   height: 25px;
      //   padding-left: 15px;
      //   padding-top: 16px;
      // }

      &.MuiInputBase-adornedEnd,
      .MuiInputBase-root,
      .MuiSelect-root {
        margin: 0;
        border-radius: 3px;
        box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;

        @extend %border-none;
      }
      .MuiSelect-root {
        padding: 18px 0 11px 12px;
      }

      &.MuiInputBase-adornedEnd {
        margin-bottom: 20px;
        @extend %border-none;

        .MuiInputBase-inputAdornedEnd {
          height: 35px;
          margin-top: 0;
          padding: 13px 12px 0px;
        }
      }

      // .MuiInput-formControl {
      //   padding: 0 15px;
      // }
      &.MuiInput-underline,
      .MuiInput-underline {
        @extend %border-none;
      }
    }
  }

  .form-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: rem(12);
    text-align: center;

    .btn {
      padding: 0 5px;
      font-weight: $font-weight-bold;
    }
  }

  @include media-breakpoint-up(md) {
    .form {
      padding: 15px 30px 30px;
      margin-bottom: 10px;
      @include border-radius(3px);
      border: solid 1px rgba(141, 164, 176, 0.18);
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);

      .header {
        margin-bottom: 10px;

        .heading {
          padding: 0;
          margin: 0;
          margin-bottom: 0;
          font-size: 30px;
          font-weight: 400;
        }

        .sub {
          font-size: 16px;
          font-weight: 400;
        }
      }

      .form-control {
        &.last {
          height: 80px;
        }

        &.error {
          .MuiInputBase-root {
            border-color: #ff6c6c;
          }

          .MuiFormHelperText-root {
            color: #ff6c6c;
          }
        }
      }

      .note {
        margin-bottom: 20px;
        color: rgb(128, 128, 128);
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: -0.12px;
        text-align: left;
      }

      .action {
        text-align: center;
      }
    }

    .link {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.25;
      letter-spacing: -0.16px;
      text-align: center;

      a {
        color: $color-link;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
