@import "common/styles/base/_breakpoints";

@mixin form {

  .form {
    margin-bottom: 20px;

    .header {
      margin-bottom: 20px;

      .heading {
        margin-bottom: 0;
        font-size: 30px;
      }

      .sub {
        font-size: 14px;
      }
    }

    .form-group {
      min-height: 102px;
      margin-bottom: 10px;

      label {
        margin-bottom: 5px;
      }

      .form-control {
        height: 50px;
      }

      .form-text {
        font-size: 12px;
      }

      &.error {
        .form-control {
          border-color: red;
        }

        .form-text {
          color: red;
        }
      }
    }

    .form-note {
      color: rgb(128, 128, 128);
      font-size: 12px;
    }

    .form-action {
      .btn {
        width: 100%;
        text-shadow: 1.4px 1.4px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }

  .form-link {
    color: #000;
    text-align: center;
  }


  @include media-breakpoint-up(md) {
    .form {
      padding: 30px;
      margin-bottom: 25px;
      border-radius: 5px;
      border: solid 1px rgba(141, 164, 176, 0.18);
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);

      .header {
        margin-bottom: 20px;

        .heading {
          padding: 0;
          margin: 0;
          margin-bottom: 5px;
          font-size: 30px;
          font-weight: 400;
        }

        .sub {
          font-size: 18px;
          font-weight: 400;
        }
      }

      .form-control {
        height: 100px;

        &.last {
          height: 80px;
        }

        &.error {
          .MuiInputBase-root {
            border-color: #ff6c6c;
          }

          .MuiFormHelperText-root {
            color: #ff6c6c;
          }
        }
      }

      .note {
        margin-bottom: 20px;
        color: rgb(128, 128, 128);
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: -0.12px;
        text-align: left;
      }

      .action {
        text-align: center;
      }
    }

    .link {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.25;
      letter-spacing: -0.16px;
      text-align: center;

      a {
        color: #0073b0;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}