// Button
%btn {
  box-shadow: none;
  font-family: $base-font-family;
  font-weight: $base-font-weight;

  &:focus,
  &:active {
    box-shadow: none;
  }
}

%btn-primary {
  @extend %btn;
  background-color: $color-primary;
  border-color: $color-primary;
  border-width: 0;
  box-shadow: none;

  &:hover {
    background-color: #4e31ba;
  }

  &:active {
    background-color: #5537c9;
  }
}

%btn-secondary {
  @extend %btn;
  background-color: $color-secondary;
  border-color: $color-secondary;
  box-shadow: none;
}

%form-control {
  border: 1px solid #a8a5b3;
  border-radius: $base-border-radius;
  font-family: $base-font-family;
  font-size: $base-font-size;
  height: 50px;
  padding: ($base-gap - 2) ($base-gap + 2);
  width: 100%;

  &::placeholder {
    color: #9b9b9b;
    font-weight: $base-font-weight;
  }

  &.textarea {
    height: 120px;
  }
}

%input-group-padding {
  padding: ($base-gap - 2) ($base-gap + 2);
}

@mixin transition($property) {
  // -webkit-transition: $property;
  // /* Safari 4+ */
  // -moz-transition: $property;
  // /* Fx 5+ */
  // -o-transition: $property;
  /* Opera 12+ */
  transition: $property;
  /* IE 10+, Fx 29+ */
}

@mixin border-radius($value) {
  // -moz-border-radius: $value;
  // -webkit-border-radius: $value;
  // -o-border-radius: $value;
  border-radius: $value;
}
