@import "common/styles/global.scss";

.current_election {
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px solid $border-color;
  border-top: 2px solid $color-safron;
  border-bottom: 2px solid $color-green;
  background-color: $color-white;
  font-size: rem(14);

  & > .candidate-list {
    margin: 0;
  }
}
