@import "common/styles/global.scss";

.footer {
  position: absolute;
  z-index: $footer;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 5px;

  > .copy {
    color: $color-gray-light;
    font-size: rem(14);
  }

  > .social {
    a {
      margin-left: 15px;
      color: $color-gray;
      font-size: rem(16);
      &:hover {
        &.facebook {
          color: #3b5998;
        }
        &.twitter {
          color: #00acee;
        }
        &.linkedin {
          color: #0e76a8;
        }
      }
    }
  }
}
