@import "common/styles/global.scss";

.opinion-respond {
  display: flex;
  align-items: center;

  i {
    margin-right: 5px;
  }
  span {
    font-size: rem(14);
    font-weight: $font-weight-bold;
  }
}
