@import "common/styles/global.scss";

.profile {
  // Top User Details
  .top {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;

    .photo {
      width: 150px;
      height: 150px;
      margin-right: 40px;
      border: 1px solid $border-color;
      @include border-radius(100%);
      overflow: hidden;

      figure {
        height: 100%;

        img {
          height: 100%;
        }
      }
    }

    .details {
      h1 {
        font-size: rem(40);
        font-weight: $font-weight-light;
      }

      .action {
        display: flex;
        margin-bottom: 40px;

        button {
          margin-right: 20px;
          border: 1px solid $color-lighter;
        }
        .setting {
          color: $color-light;
          font-size: rem(30);
          cursor: pointer;
        }
      }

      .count {
        ul,
        li {
          padding: 0;
          margin: 0;
          list-style-type: none;
        }
        ul {
          display: flex;
          flex-direction: row;

          li {
            padding-right: 50px;
            font-size: rem(18);
          }
        }
      }
    }
  }

  //   Tabs
  .tabs {
    border-bottom: 1px solid $color-lightest;
    ul,
    li {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    ul {
      display: flex;
      flex-direction: row;

      li {
        min-width: 175px;
        padding: 10px 0;
        border-bottom: 3px solid $color-white;
        font-size: rem(18);
        text-align: center;

        &.active {
          color: $color-primary;
          border-bottom: 2px solid $color-primary;
        }
      }
    }
  }

  //   Tab Container
  .tab-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //   Empty Context
  .context-empty {
    max-width: 400px;
    margin-top: 50px;

    h2 {
      margin-bottom: 15px;
      font-size: rem(24);
      font-weight: $font-weight-light;

      small {
        display: block;
        color: $color-gray-light;
        font-size: rem(16);
        line-height: 170%;
      }
    }
    p {
      max-width: 310px;
      margin-bottom: 30px;
      color: $color-gray-light;
      font-size: rem(15);
    }
  }
}

@include media-breakpoint-up(md) {
  .profile {
    margin-top: 50px;
  }
}
