@import "common/styles/global.scss";

.respond {
  margin-top: 10px;

  .center {
    position: relative;

    .back {
      position: absolute;
      z-index: 1;
      right: 0;

      button {
        height: 40px;
      }
    }
  }

  .panel {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid $border-color;
    @include border-radius($border-radius-max);
    background-color: $bg-panel;

    .title {
      margin-bottom: 15px;
      font-size: rem(18);
      font-weight: $font-weight-black;
    }

    .panel-container {
    }
  }
}

@include media-breakpoint-up(lg) {
  .respond {
    margin-top: 25px;
  }
}
