@import "common/styles/global.scss";

.drawer-page {
  position: relative;

  .container {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    transition: all 0.2s ease;
    transform: scale(1);

    .content {
      width: 100%;
      height: 100%;
      background-color: $color-white;
      text-align: left;
      overflow: hidden;
      overflow-y: auto;

      .back {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: flex-start;
        padding: 10px;

        button {
          height: 26px;
          padding-top: 0;
          padding-bottom: 0;
          background-color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }

  &.right {
    .container {
      right: 0;
      margin-right: calc(-100% - 10px);

      .content {
        float: right;
        box-shadow: -5px -2px 5px #00000047;
      }
    }

    &.open {
      .container {
        margin-right: 0;
      }
    }
  }

  &.left {
    .container {
      right: auto;
      left: 0;
      margin-left: calc(-100% - 10px);

      .content {
        float: left;
        box-shadow: 2px 5px 5px #00000047;
      }
    }

    &.open {
      .container {
        margin-left: 0;
      }
    }
  }
}
@include media-breakpoint-up(sm) {
  .drawer {
    nav {
      ul {
        width: 50%;
        max-width: 230px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .drawer {
    display: none;
  }
}
