@import "common/styles/global.scss";

.opinion-respond {
  display: flex;
  align-items: center;

  i {
    margin-right: 5px;
    font-size: rem(16);
  }
  span {
    font-size: rem(12);
    font-weight: $font-weight-bold;

    a {
      color: $base-color;
      text-decoration: none;
    }
  }
}
