@import "common/styles/global.scss";

.map_component {
  position: relative;

  &__location {
    position: absolute;
    z-index: 1;
    max-width: 350px;
    margin: 0 10px;
    margin-top: 95px;
    padding: 0 10px 10px;
    @include border-radius(3px);
    @include box-shadow;

    > figure {
      position: relative;
      margin: 0;
      text-align: center;

      figcaption {
        position: absolute;
        z-index: 1;
        top: 90px;
        left: calc(50% - 30px);
        line-height: 100%;
        text-align: left;
      }
    }

    > .form {
      text-align: center;

      label {
        font-size: rem(16);
        font-weight: $font-weight-bold;
      }
      .btn {
        width: 100%;
        font-weight: $font-weight-bold;
        text-shadow: 1.4px 1.4px 3px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.marker_component {
  & > span {
    color: $color-danger;
    font-size: rem(40);
  }
}

@include media-breakpoint-up(md) {
  .map_component {
    &__location {
      left: calc(50% - 185px);
      margin-top: 130px;
    }
  }
}
