@import "common/styles/global.scss";

.poll-panel {
  p {
    font-size: rem(18);
    line-height: 100%;
  }

  .action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .btn {
      min-width: 40%;
      font-size: rem(16);
      font-weight: $font-weight-bold;
      text-shadow: 1.4px 1.4px 3px rgba(0, 0, 0, 0.1);
      background-color: transparent;
      border: none;

      &:hover {
        background-color: transparent;
      }

      &.btn-success {
        color: $color-success;
        border-bottom: 5px solid #e6f2e6;
      }
      &.btn-danger {
        color: $color-error;
        border-bottom: 5px solid #f2dada;
      }
    }
  }
}
