@import "common/styles/global";
.notification {
  position: fixed;
  z-index: $notification;
  bottom: 0;
  right: 0;
  width: 100%;

  .alert {
    margin: 0;

    &.alert-warn {
      background-color: #ffa000;
    }

    &.alert-info {
      background-color: #2196f3;
    }

    &.alert-success {
      background-color: #43a047;
    }
  }
}
