@import "common/styles/global";

.notification {
  display: none;
  position: fixed;
  z-index: $notification;
  bottom: 0;
  right: 0;
  width: 100%;

  &.show {
    display: block;
  }

  .alert {
    margin: 0;
    @include box-shadow;

    &.alert-danger {
      color: $color-white;
      background-color: $color-error;
    }

    &.alert-warn {
      background-color: #ffa000;
    }

    &.alert-info {
      background-color: #2196f3;
    }

    &.alert-success {
      background-color: #43a047;
    }

    .close {
      &:hover {
        color: $color-white;
        opacity: 1;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .notification {
    top: 40px;
    bottom: auto;
    right: 20%;
    width: calc(100% - 40%);
  }
}
