@import "common/styles/global";

.nav-account {
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  ul {
    li {
      padding-bottom: 30px;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: $font-weight-black;

        i {
          margin-right: 15px;

          svg {
            font-size: 24px;
          }
        }

        label {
          margin: 0;
          margin-top: 2px;
          cursor: pointer;
        }

        &:hover {
          color: $color-primary;
          text-decoration: none;

          i {
            text-decoration: none;
          }
        }
      }
    }
  }
}
