.user-menu {
  margin-top: 3px;
  color: #fff;
  text-shadow: 1px 1px 1px #00000040;

  figure,
  figcaption {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }

  figure {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    overflow: hidden;

    img {
      height: 100%;
      vertical-align: top;
    }
  }

  figcaption {
    display: none;
    margin-top: 4px;
    font-size: 12px;
  }

  &.inside {
    figure {
      display: block;
      width: 50px;
      height: 50px;
      margin: auto;
      margin-bottom: 10px;
    }

    figcaption {
      display: block;
      color: #000;
      font-weight: bold;
      text-shadow: none;
      text-align: center;
    }
  }
}
