@import "common/styles/global";

.account {
  padding: 10px 10px 0;

  .user {
    text-align: center;
    border-bottom: 1px solid rgb(229, 241, 255);

    figure {
      position: relative;
      width: 100px;
      height: 100px;
      margin: 0 auto 10px;
      border-radius: 100px;
      overflow: hidden;
      border: solid 1px rgb(158, 170, 176);
      background-color: #fff;

      .edit {
        display: none;
        position: absolute;
        z-index: 1;
        top: 8px;
        right: 8px;
        width: 25px;
        height: 25px;
        border-radius: 2px;
        background-color: #fff;
        cursor: pointer;
        text-align: center;

        svg {
          color: $color-primary;
          font-size: 15px;
        }
      }

      & > img,
      & > svg {
        width: 100%;
        height: 100%;
        color: $color-light;
      }

      &:hover,
      &.mobile {
        .edit {
          display: block;
        }
      }
    }

    h2.title {
      font-size: 24px;
    }

    p {
      color: rgb(77, 77, 77);
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }
  }

  h1.title {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 500;

    span {
      display: block;
      color: $color-gray;
      font-size: 16px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .account {
    padding-top: 50px;

    .user {
      figure {
        margin-bottom: 25px;
      }

      h2.title {
        font-size: 26px;
        font-weight: $font-weight;
      }

      p {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: $font-weight;
      }
    }

    h1.title {
      margin: 20px 0 25px;
      font-size: 20px;
      font-weight: $font-weight;

      span {
        display: inline;
        color: $base-color;
        font-size: 20px;
      }
    }
  }
}
