@import "common/styles/global";

.edit-text {
    position: relative;
    display: inline-block;
    padding-right: 15px;
    border-radius: $border-radius;
    overflow: hidden;
    vertical-align: top;

    .edit {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 0;
        cursor: pointer;

        svg {
            color: $color-primary;
            font-size: 12px;
            text-align: center;
            vertical-align: top;
        }
    }

    .text {}

    .input {
        max-width: 150px;

        .form-control {}
    }


    &:hover {}
}